issuer: https://dex:5556/dex

storage:
  type: sqlite3
  config:
    file: /var/dex/dex.db

web:
  http: 0.0.0.0:5556

connectors:
  - type: google
    id: google
    name: Google
    config:
      clientID: <YOUR_GOOGLE_CLIENT_ID>
      clientSecret: <YOUR_GOOGLE_CLIENT_SECRET>
      redirectURI: https://dex:5556/dex/callback

  - type: microsoft
    id: microsoft
    name: Microsoft
    config:
      clientID: <YOUR_MICROSOFT_CLIENT_ID>
      clientSecret: <YOUR_MICROSOFT_CLIENT_SECRET>
      tenant: <YOUR_MICROSOFT_TENANT_ID>
      redirectURI: https://dex:5556/dex/callback

staticClients:
  - id: app-a
    name: App A
    secret: <APP_A_CLIENT_SECRET>
    redirectURIs:
      - https://<APP_A_DOMAIN>/oauth2/callback

  - id: app-b
    name: App B
    secret: <APP_B_CLIENT_SECRET>
    redirectURIs:
      - https://<APP_B_DOMAIN>/oauth2/callback
